nav{
    height:100px;
    background-color: tomato;
    line-height: 60px;
}
ul li{
    list-style: none;
   
    padding: 20px;
}

nav>ul>li{
    float: left;
}

ul li a{
    text-decoration: none;
    font-size: 40px;
}

ul li:hover{
    background-color: teal;
}

.drop-down{
    position:absolute;
    display: none;
    background-color: yellow;
    padding: 0;
}

nav > ul > li:hover >ul{
    display: block;
}


